.banner-section , .about-section{
	font-family: 'Montserrat', sans-serif;
}
.banner-section .block-editor-block-list__block, .about-section .block-editor-block-list__block{
	margin-top: 0 !important;
	margin-bottom: 10px !important;
}
/*-------- Banner Section -------*/
.banner-content .wp-block-column:first-child {
  position: relative;
  padding: 40px 0 40px 40px;
}
.banner-content .wp-block-column:first-child:before {
  content: '';
  width: 34%;
  height: 100%;
  border: 10px solid rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
}
.banner-content .wp-block-button__link, .about-section .wp-block-button__link {
  padding: 0;
  border: 0;
  font-weight: 600;
  position: relative;
}
.banner-content .wp-block-button__link:before, .about-section .wp-block-button__link:before {
  content: '';
  width: 40px;
  height: 1px;
  background: #fff;
  display: inline-block;
  margin: 3px 5px 3px 0;
}
.banner-section .wp-block-social-links button {
  font-size: 14px;
  margin-top: 20px;
}
/*-------- About Section -------*/
.about-section .wp-block-button__link:before {
  background: #2a2a2a;
}
.about-section p.experience-number{
  border: 10px solid #2a2a2a;
  border-radius: 5px;
}